<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dns-app1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5eca7835-104f-4b11-be4b-85fc299f077f/resourceGroups/dns-rg/providers/Microsoft.Web/sites/dns-app1</ResourceId>
    <UserName>$dns-app1</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://dns-app1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>